<%= partials.head(data) %>
<div class="row">
  <div class="column small-10 small-offset-1 medium-10 medium-offset-1 large-12 large-offset-0">
    <h2>À propos de GlassJaw</h2>
    <p class="lead">
      Vous voulez <b>prendre de bonnes habitudes</b>
      et vous <b>débarrasser des mauvaises</b>? Ce service est pour vous!
    </p>
    <div class="row">
      <div class="column large-4">
        <h3>Inscription</h3>
        <p>
          L'inscription au site est gratuite et prend 30 secondes.
          La seule information exigée est un nom d'utilisateur
          et un mot de passe pour vous connecter.
        </p>
      </div>
      <div class="column large-4">
        <h3>Créer un premier <i>punch</i></h3>
        <p>
          Une fois connecté, vous pouvez créer votre premier <i>punch</i>.
          Un <i>punch</i> est une habitude que vous voulez mieux gérer.
        </p>
      </div>
      <div class="column large-4">
        <h3>Puncher</h3>
        <p>
          Quand l'habitude se présente, il suffit de <i>puncher</i> l'habitude.
          Vous pouvez gérer plusieurs habitudes, bien sûr.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="column large-4">
        <a href="/vie-privee">
        <h3>Vie privée</h3>
        </a>
        <p>
          Toutes les informations demeurent privées et seulement accessibles
          au détenteur du compte.
        </p>
      </div>
      <div class="column large-4">
        <a href="/contact">
        <h3>Nous contacter</h3>
        </a>
        <p>
          Utilisez le formulaire pour nous contacter ou envoyez nous un email.
        </p>
      </div>
      <div class="column large-4">
        <a href="https://github.com/millette/glassjaw-v2">
        <h3>Crédits</h3>
        </a>
        <p>
          Les sources du logiciel utilisé par ce service sont disponibles sur GitHub.
        </p>
      </div>
    </div>

  </div>
</div>
<%= partials.foot(data) %>
